## Exports
     export(isopam)
     export(isotab)
     export(clusters)

## Imports
    importFrom("cluster", "daisy", "pam")
    importFrom("fastkmedoids", "fastpam")
    importFrom("future", "plan")
    importFrom("future.apply", "future_sapply")
    importFrom("ggplot2", "aes", "coord_cartesian", "element_blank", "element_text", 
               "expand_limits", "geom_bar", "geom_text", "ggplot", "ggplot_build", 
               "guides", "labs", "scale_fill_manual", "theme", "theme_minimal")
    importFrom("grDevices", "bmp", "dev.off")
    importFrom("graphics", "identify")
    importFrom("methods", "is")
    importFrom("proxy", "dist", "pr_DB")
    importFrom("ps", "ps_system_memory")
    importFrom("stats", "aggregate", "as.dendrogram", "as.dist", "dhyper", 
               "na.omit", "phyper", "setNames", "var")
    importFrom("utils", "combn", "object.size", "write.table")
    importFrom("vegan", "distconnected", "isomap", "vegdist")

## S3 Methods
    S3method(clusters, isopam)
    S3method(clusters, default)
    S3method(plot, isopam)
    S3method(plot, isotab)
    S3method(identify, isopam)
    S3method(summary, isopam)
    S3method(print, isopam)
    S3method(print, isotab)
