## Exported functions:
export(
       isopam,
       isotab
       )

## Imports:
importFrom(cluster, pam, daisy)
importFrom(vegan, vegdist, isomap)
importFrom(graphics, plot, identify)

## S3 Methods
S3method(plot, isopam)
S3method(identify, isopam)